.lista2{
    list-style: none;
}
.tittle_form2{
    color: white;
    font-size: 32px;
}
.tittle_form1{
    font-size: 32px;
}

.icon-circle-with-plus{
    font-size: 30px;
}

.hidenP{
    display: none;
}